body {
    /* background: #3c446a; */
    background: #36d0ff;
    margin: 0;
}


.container-element {
    height: 100vh;
    width: 100vw;
    display: grid;
    /* grid-gap: 15px; */
    /* justify-content: center; */
    /* align-content: center; */
    /* align-items: center; */
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.container-title {
    color:#ffd089;;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    height: 50px;
    width: 200px;
}

.contain-cone {
    height: 50vh;
    width: 50vw;
    display: grid;
    align-items: end;
    justify-items: center;
    align-content: end;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    /* animation: rotate 8s infinite; */
}

.contain-cone .container-move{
    display: grid;
    /* animation: rotate 8s infinite; */
}
@keyframes rotate {
    /* 0% { */
    /*     transform: rotate(0deg); */
    /* } */
    50% {
        transform: rotate(360deg);
    }
    /* 100%{ */
    /*     transform: rotate(0deg); */
    /* } */
}

.container-element .container-title {
    grid-column: 1/2;
    grid-row: 1/2;

}

.container-element .contain-cone {
    grid-column: 1/2;
    grid-row: 1/2;

}

.container-cone {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    /* animation: rotate 8s infinite; */
}

.size {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* background: #ff63c9; */

    grid-column: 1/2;
    grid-row: 1/2;
}
.circle {
    /* border-right: 100px solid #ca0000; */
    /* border-left: 100px solid #ca0000; */
    /* border-bottom: 100px solid #ca0000; */
    /* border-top: 100px solid #ca0000; */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: blue;
    grid-column: 1/2;
    grid-row: 1/2;

}

.cone1 {
    background: red;
    /* clip-path: polygon(50% 0%, 0% 100%, 100% 100%); */
    clip-path: polygon(50% 0, 50% 50%, 0 0);

}

.cone2 {
    background: #fff;
    clip-path: polygon(50% 0, 50% 50%, 0 0);
    transform: rotate(45deg);
}

.cone3 {
    clip-path: polygon(50% 0, 50% 50%, 0 0);
    transform: rotate(90deg);
    background: red;
}

.cone4 {
    clip-path: polygon(50% 0, 50% 50%, 0 0);
    transform: rotate(135deg);
    background: white;
}

.cone5 {
    clip-path: polygon(50% 0, 50% 50%, 0 0);
    transform: rotate(180deg);
    background: red;
}

.cone6 {
    clip-path: polygon(50% 0, 50% 50%, 0 0);
    transform: rotate(225deg);
    background: white;
}

.cone7 {
    clip-path: polygon(50% 0, 50% 50%, 0 0);
    transform: rotate(270deg);
    background: red;
}

.cone8 {
    clip-path: polygon(50% 0, 50% 50%, 0 0);
    transform: rotate(315deg);
    background: white;
}
