@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src:
    local("Open Sans"),
    url("/fonts/Lato/Lato-Boldtalic.ttf") format("woff2"),
    url("/fonts/Lato/Lato-Thin.ttf") format("woff");
}


body{
    background: #414558;
}


.container-element {
    display: grid;
    grid-gap: 5px;
    justify-content: center;
    align-content: center;
    height: 100vh;
    grid-auto-flow: column;

}

.square{
    background:#ff80bf;
    width: 100px;
    height: 100px;
    text-align: center;
    color: white;
    font-size: 50px;
}

.container-title{
    color:#ffb74a;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.font-style{
    font-family: 'Acme', sans-serif;
}
